attrs==17.4.0
beautifulsoup4==4.6.0
ChatterBot==0.8.4
chatterbot-corpus==1.1.1
click==6.7
coverage==4.5.1
decorator==4.2.1
devrest==2.2.13
Django==1.11.12
Flask==0.11.1
Flask-Admin==1.4.2
Flask-SQLAlchemy==2.1
funcsigs==1.0.2
future==0.16.0
itsdangerous==0.24
Jinja2==2.10
Markdown==2.6.11
MarkupSafe==1.0
mathparse==0.1.1
mocktest==0.7.2
more-itertools==4.1.0
MySQL-python==1.2.5
nltk==3.2.5
oauthlib==2.0.6
ordereddict==1.1
pluggy==0.6.0
protobuf==3.1.0
py==1.5.3
Pygments==2.2.0
pymongo==3.6.1
pytest==3.5.0
pytest-cov==2.5.1
python-dateutil==2.6.1
python-rrdtool==1.4.7
python-twitter==3.4
pytz==2018.4
PyYAML==3.12
requests==2.14.2
requests-oauthlib==0.8.0
selenium==3.7.0
six==1.11.0
SQLAlchemy==1.1.2
Werkzeug==0.14.1
wsgi-intercept==1.6.0
WTForms==2.1
